@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    background-color: #00CEC9;
    font-family: 'Montserrat', sans-serif;
}

.header header h1
{
    font-size: 30px;
    color: #fff;
    display: inline;
}

.header header img
{
    width: 50px;
    position: absolute;
    top: 10px;
}

.header header .account
{
    display: inline-block;
    position: absolute;
    right: 5px;
}